GEMINI_API_KEY=""
PINECONE_API_KEY=""

LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"

GOOGLE_APPLICATION_CREDENTIALS="firebase-service-account.json"
FIREBASE_SERVICE_ACCOUNT_FILE="firebase-service-account.json"
FIREBASE_STORAGE_BUCKET_NAME="{ACTUAL_BUCKET_NAME}.appspot.com"
