PINECONE_API_KEY=""

LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"

FIREBASE_API_KEY=""
FIREBASE_STORAGE_BUCKET_NAME="{ACTUAL_BUCKET_NAME}.appspot.com"

GOOGLE_OIDC_REDIRECT_URI="http://localhost:8080"

[FIREBASE_SERVICE_ACCOUNT]
type = "service_account"
project_id = ""
private_key_id = ""
private_key = ""
client_email = ""
client_id = ""
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = ""
universe_domain = "googleapis.com"


# For Google OIDC OAuth2
[GOOGLE_OIDC_CLIENT_SECRET]
web.client_id = ""
web.project_id = ""
web.auth_uri = "https://accounts.google.com/o/oauth2/auth"
web.token_uri = "https://oauth2.googleapis.com/token"
web.auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
web.client_secret = ""
web.redirect_uris = [
    "https://{PROJECT_ID}.firebaseapp.com/__/auth/handler"
    "http://localhost:8080",
]
web.javascript_origins = [
    "http://localhost",
    "http://localhost:8080",
    "https://{PROJECT_ID}.firebaseapp.com"
]
